body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-color: black;
  border-width: 3px;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  background-color: darkgrey;
  text-align: center;
  border-style: solid none none none;
  border-width: 2px;
  border-color: black;
}

li #last-menu-elem {
  border-bottom-style: solid;
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
.content-box {
  color: black;
  background-color: gray;
  margin-bottom: 15px;
}

.content-box-header {
  font-size: 1.5em;
  font-weight: bold;
}
/* END HOME PAGE */

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #main-content {
    margin-left: 5%;
    margin-right: 5%;
  }

}